@use "../style";
.multiple-field {
    table{
        width: 100%;
        text-align: unset !important;
    }
    .remove-btn {
        cursor: pointer;
        color: red;
        padding: 0px 10px;
    }
    .content-right {
        text-align: right !important;
    }
    .add-btn {
        cursor: pointer;
        margin: {
            top: 10px;
            right: 10px;
        }
        &:hover {
            @include style.mainColorOnText;
        }
    }
}